.categoty__wrap {
  padding-top: 100px;
  padding-bottom: 100px;
}


.category__list {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(280px, auto));
  grid-template-rows: repeat(3, minmax(261px, auto));
  grid-gap: 20px 20px;
}

.category__element:nth-of-type(1) {
  background: url("../img/img_1.jpg") no-repeat right;
  background-size: cover;
}

.category__element:nth-of-type(2) {
  background: url("../img/img_2.jpg") no-repeat center;
  background-size: cover;
}

.category__element:nth-of-type(3) {
  background: url("../img/img_4.jpg") no-repeat center;
  background-size: cover;
}

.category__element:nth-of-type(4) {
  background: url("../img/img_3.jpg") no-repeat center;
  background-size: cover;
}

.category__element:nth-child(odd) {
  grid-row: span 2;
}

.category__element:nth-child(even) {
  grid-row: span 1;
}

.category__element {
  box-shadow: none;

  transition-property: box-shadow;
  transition-duration: 500ms;

  &:hover {
    cursor: pointer;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,1.15);
  }
}

.category__text {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: $colorText;
  margin: 16px 20px;
}

.category__text-color {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: $primary;
}


.category__info {
  background-color: $white;
  display: inline-block;
  margin-top: 25px;
}


@media (max-width: 920px) {
  .category__text {
    font-size: 12px;
  }

  .category__text-color {
    font-size: 25px;
  }
}

@media (max-width: 880px) {
  .category__text {
    margin: 5px 14px;
  }
}

@media (max-width: 780px) {
  .categoty__wrap {
    padding: 40px 100px;
  }
  .category__list {
    grid-template-columns: minmax(280px, auto);
    grid-template-rows: repeat(6, minmax(261px, auto));
    grid-gap: 10px;
  }
}

@media (max-width: 780px) {
  .categoty__wrap {
    padding: 40px 50px;
  }
}