
.subscribe {
  background: url("../img/subscribe_bg.jpg") no-repeat center;
  background-size: cover;
  height: 438px;
}

.subscribe__wrap {
  display: flex;
}

.subscribe__choose {
  padding-top: 110px;
  display: flex;
}

.subscribe__enterEmail {
  padding-top: 145px;
  text-align: center;
  margin-left: 165px;
}

.subscribe__info {
  max-width: 390px;
  margin-left: 28px;
}

.subscribe__img {
  height: 83px;
}

.subscribe__text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: $bgFeature;
}

.subscribe__name {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: $primary;
}

.subscribe__city {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: $bgFeature;
}

.subscribe__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: $bgFeature;
}

.subscribe__textEmail {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0.025em;
  color: $bgFeature;
}

.subscribe__form {
  height: 46px;
  display: flex;
  white-space: nowrap;
}

.subscribe__input {
  background-color: $subsInput;
  border-radius: 23px 0 0 23px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;

  opacity: 0.67;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: $bgFeature;

  &:focus {
    outline: none;
  }
}

.subscribe__button {
  @include buttonMainColor {
    border-radius: 0 23px 23px 0;
  }
}

.subscribe__item {
  display: flex;
  margin-top: 41px;
}

.subscribe__line {
  width: 38px;
  height: 6px;
  background-color: $subsInput;

  &:not(:first-child) {
    margin-left: 13px;
  }

  &:hover {
    cursor: pointer;
  }
}

.subscribe__line-active {
  background-color: $primary;
}


@media (max-width: 780px) {
  .subscribe {
    background: none;
    background-color: rgba(242, 242, 242, 0.5);
    height: auto;
  }

  .subscribe__wrap {
    flex-direction: column;
  }

  .subscribe__choose {
    justify-content: center;
    padding-top: 45px;
  }

  .subscribe__enterEmail {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 45px;
  }
}